@import "../../../../utils/colors";
@import "../../../../utils/sizes";

.selectArea {
    display: flex;
    justify-content: left;
    height: 30px;
    width: 100%;
    margin-bottom: $commonMargin;

    & .selectList {
        height: 30px;
        display: flex;
    }
}