@import "../../utils/colors";
@import "../../utils/sizes";

.registrationForm {
    & .border {
        margin-bottom: $commonMargin;
        border-bottom: 5px dotted $darkGray;
    }

    & .sending {
        pointer-events: none;
        background: $orange;
        cursor: none;
    }
}