@import "../../../utils/colors";
@import "../../../utils/sizes";

.messageBlock {
    flex-direction: row;
    height: calc(100% - 40px);
    justify-content: space-between;
    display: flex;

    &.hidden {
        display: none;
    }
}

.messagesSide {
    flex-direction: column;
    width: calc(100% - 50px);
    max-width: calc(100% - 50px);
    transition: .1s;

    &.m_opened {
        width: calc(100% - 160px);
        max-width: calc(100% - 160px);
    }
}

.conversationsSide {
    width: 50px;
    max-width: 50px;
    min-width: 50px;
    transition: .1s;

    &.c_opened {
        width: 160px;
        max-width: 160px;
        min-width: 160px;
    }

    & .c_button {
        width: 100%;
    }
}

.messagesContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.messagesScrollContainer {
    height: calc(100% - 40px - 90px);
}

.messageInput {
    max-width: 100%;
    min-width: 100%;
    height: 80px;
    padding: $commonMargin;
    margin-bottom: $commonMargin;
    outline: none;
    border: none;
    resize: none;

    background: $darkGray;
    color: $white;
}

.messageSendButton {
    width: 100px;
    height: 30px;
    flex-basis: 40px;
    margin-bottom: 10px;
    background: $gray;
    color: $whiteGray;
    outline: none;
    border: none;
    font-size: 14px;
    pointer-events: none;
    cursor: pointer;

    &.active {
        background: $blue;
        pointer-events: auto;
        color: $white;
    }
}