@import "../../../../../../../utils/colors";
@import "../../../../../../../utils/sizes";

$scrollWidth: 4;

.container {
    min-height: 20px;
    max-height: 210px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    overflow: auto;
    margin-bottom: 10px;
    font-size: 14px;

    position: relative;
    overflow: auto;

    &::-webkit-scrollbar {
        width: #{$scrollWidth}px;
    }

    &::-webkit-scrollbar-track {
        background: $darkGray;
        border-radius: calc(#{$scrollWidth}px / 2);
    }

    &::-webkit-scrollbar-thumb {
        background: $blue;
        border-radius: calc(#{$scrollWidth}px / 2);
    }

    & .item {
        display: flex;
        justify-content: space-between;
    }

    & .userInfo {
        display: flex;
        align-items: center;
        width: calc(100% - 150px);

        & .userLogin {
            text-overflow: ellipsis;
            overflow: hidden;
        }

        & .userAvatar {
            width: 30px;
            height: 30px;
            margin-right: 5px;
            border-radius: 50%;
        }
    }

    & .controlButtons {
        height: 30px;
        display: flex;

        & .button {
            margin-left: 5px;
            width: 30px;
            height: 30px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            background: transparent;
            transition: .1s;
            border-radius: 50%;

            &:hover {
                background: $darkGray;

                & .resultAddIcon {
                    filter: invert(1);
                }
            }
        }

        .resultAddIcon {
            width: 20px;
            height: 20px;
            filter: invert(.8);
            transition: .1s;
        }
    }
}