@import "../../utils/sizes";
@import "../../utils/colors";

.header {
    height: $headerSize;
    // background: $darkGray;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 123;

    & .content {
        display: flex;
        justify-content: center;
        height: 100%;

        & > * {
            width: 400px;
            min-width: 400px;
            margin: $commonMargin;
            margin-right: 0;
            height: calc(100% - #{$commonMargin});

            &:first-child {
                margin-left: 0;
            }
        }
    }
}