@import "../../../../../../utils/colors";
@import "../../../../../../utils/sizes";

.resultItem {
    display: flex;
    justify-content: space-between;

    & > * > * {
        margin-left: 5px;

        &:first-child {
            margin-left: 0;
        }
    }

    .resultInfo {
        display: flex;
        align-items: center;

        .resultAvatar {
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }
    }

    .resultControl {
        display: flex;

        .resultButton {
            width: 30px;
            height: 30px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            background: transparent;
            transition: .1s;
            border-radius: 50%;

            &:hover {
                background: $darkGray;

                & .resultAddIcon {
                    filter: invert(1);
                }
            }
        }

        .resultAddIcon {
            width: 20px;
            height: 20px;
            filter: invert(.8);
            transition: .1s;
        }
    }
}
